@*@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron" style="color:#2BBFFF">
    <h1 style="width:60%; display:block; margin-left:auto; margin-right:auto;">Sklep komputerowy</h1>
    <p class="lead" style="width:45%; display:block; margin-left:auto; margin-right:auto;">Witamy w naszym sklepie komputerowym.</p>
</div>
@*onclick="location.href='@Url.Action("Processors", "Categories")'"*@
@*<div class="row" style="padding: 20px;">
    <div class="col-md-4" style="margin-top:5px;">
        <p><a class="btn btn_processor" onclick="location.href='@Url.Action("test","Share")'" button style="width:60%; display:block; margin:auto;">Procesory &raquo;</a></p>
        <img src="@Url.Content("~/pictures/Procesor.jpg")" alt="Procesor" style="width:128px; height:128px; display:block; margin:auto;">
    </div>

    <div class="col-md-4" style="margin-top:5px;">
        <p><a class="btn btn-default" button style="width:60%; display:block; margin:auto;">Karty graficzne &raquo;</a></p>
        <img src="@Url.Content("~/pictures/Karta_graficzna.jpg")" alt="Karta_graficzna" style="width:128px; height:128px; display:block; margin:auto;">
    </div>

    <div class="col-md-4" style="margin-top:5px;">
        <p><a class="btn btn-default" button style="width:60%; display:block; margin:auto;">Pamięci RAM &raquo;</a></p>
        <img src="@Url.Content("~/pictures/RAM.jpg")" alt="RAM" style="width:128px; height:128px; display:block; margin:auto;">
    </div>

    <div class="col-md-4" style="margin-bottom:5px; margin-top:5px">
        <p><a class="btn btn-default" button style="width:60%; display:block; margin:auto;">Płyty główne &raquo;</a></p>
        <img src="@Url.Content("~/pictures/plyta_glowna.jpg")" alt="plyta_glowna" style="width:45%; height:128px; display:block; margin:auto;">
    </div>

    <div class="col-md-4" style="margin-bottom:5px; margin-top:5px">
        <p><a class="btn btn-default" button style="width:60%; display:block; margin:auto;">Chłodzenie komputerowe &raquo;</a></p>
        <img src="@Url.Content("~/pictures/Chlodzenie.jpg")" alt="Chlodzenie" style="width:45%; height:128px; display:block; margin:auto;">
    </div>

    <div class="col-md-4" style="margin-bottom:5px; margin-top:5px">
        <p><a class="btn btn-default" button style="width:60%; display:block; margin:auto;">Zasilacze komputerowe &raquo;</a></p>
        <img src="@Url.Content("~/pictures/Zasilacz.jpg")" alt="Zasilacz" style="width:45%; height:128px; display:block; margin:auto;">
    </div>
</div>*@

@model IEnumerable<EntityFrameworkModel.Kategorie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        position: sticky;
        flex: 33.33%;
        padding: 5px;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 50%;
        height: 190px;
        cursor: pointer;
    }

    .overlay {
        position: sticky;
        bottom: 10px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .3s ease;
        opacity: 0;
        font-size: 15px;
        padding: 5px;
        text-align: center;
    }

    .column:hover .overlay {
        opacity: 1;
    }

    .jumbotron {
        color: #2BBFFF;
    }
</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div class="jumbotron">
        <h1 style="width:60%; display:block; margin-left:auto; margin-right:auto;">Sklep komputerowy</h1>
        <p style="width:45%; display:block; margin-left:auto; margin-right:auto;">Witamy w naszym sklepie komputerowym.</p>
    </div>

    <form id="form1">
        <div>

            <ItemTemplate>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="column">

                            <div class="column">
                                <p>
                                    <img class="image" onclick="location.href='@Url.Action("Processors","Categories", new { id = item.Id})'" src="@Url.Content(item.Obraz)" alt="Procesor">
                                </p>
                            </div>

                            <div class="column">
                                <div class="overlay">
                                    <p>
                                        @item.Nazwa
                                    </p>
                                </div>
                            </div>

                        </div>
                    }
                </div>

            </ItemTemplate>

        </div>
    </form>
</body>
</html>
